# Dependency directories
/server/node_modules
/client/node_modules

# Build output
/build
/dist

# Environment variables and API keys
.env

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# Dependency lock files
package-lock.json
yarn.lock

# Testing and coverage files
/coverage
/.nyc_output

# Development and deployment configuration
.env.local
.env.development.local
.env.test.local
.env.production.local

# Visual Studio Code specific files
.vs

# Next.js specific files
.next/
out/

# React static build folder
public/

# Firebase specific files
firebase.json
.firebaserc

# Docker
.dockerignore

# Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.pnp.*

# Serverless
.serverless/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

chat-app
chat-app.pub